@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary: #0d6efd;
}

.reset-tw {
  all: revert !important;
}

.reset-tw * {
  all: revert !important;
}

.cl-drawerRoot{
  z-index: 10;
}